
/**
 * Only for site page
 */
.site .wrapper section {
  border-bottom: 1px dashed #999;
  margin: 40px auto;
  padding: 0 16px;
}
.site .wrapper section h2 {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.2;
  margin: 0;
}
.site .wrapper .current {
  border-color: #69c;
}
.site .wrapper .current h2:before {
  color: #69c;
  content: '★';
}
.site .wrapper section p {
  color: #999;
  font-size: .7rem;
  line-height: 1.2;
  margin: 0;
}
.site .wrapper .controls {
  font-size: 0;
  margin: 8px 0;
  text-align: right;
}
.site .wrapper .controls label,
.site .wrapper .controls a {
  color: #666;
  border: 1px solid #ccc;
  display: inline-block;
  font-size: .8rem;
  line-height: 24px;
  margin: 0 0 0 4px;
  min-width: 60px;
  padding: 0px 12px;
  text-align: center;
  text-decoration: none;
}
.site .wrapper .current .controls label,
.site .wrapper .controls label:hover,
.site .wrapper .controls a:hover {
  background: #69c;
  border-color: #69c;
  color: #fff;
}
.site .wrapper .controls label input[type="radio"] {
  display: none;
}

html.entry-edit #body {
  -khtml-user-drag: element;
  height: 300px;
}
html.entry-edit #previewScreen {
  background-color: #fff;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 25px;
  z-index: 8;
}
html.entry-edit #previewScreen iframe {
  border: 0 none;
  height: 100%;
  vertical-align: top;
  width: 100%;
}
html.entry-edit #previewControler {
  bottom: 0;
  left: 0;
  padding: 8px;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 9;
}
html.entry-edit #previewControler input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(0,0,0,.5);
  border: 1px solid rgba(255,255,255,0.7);
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  font-size: .9rem;
  line-height: 28px;
  margin: 4px 2px;
  min-width: 120px;
  padding: 0px 12px;
  transition: background-color .5s ease;
}
html.entry-edit #previewControler input:focus,
html.entry-edit #previewControler input:hover {
  background-color: rgba(0,0,0,0.8);
  border: 1px solid rgba(255,255,255,1);
}

#section-edit #body {
  -khtml-user-drag: element;
  height: 300px;
}

#category-edit #author_date {
  margin: 0;
  padding: 2px;
}

/**
 * Only for template edit
 */
#template-edit #sourcecode {
  font-family: 'Courier New', Courier, monospace;
  font-size: .8rem;
  height: 400px;
}
